<h2 class="text-center w-100 mt-3">{{tituloPagina}}</h2>

<div class="mx-5 px-5 my-5">
    <div class="text-center">
        <div class="row">
            <div class="col-md-6 row">
                <div>
                    <img width="200" class="my-2 d-inline rounded-circle" src="https://github.com/pablolucas890.png"
                        alt="">
                </div>
                <strong>Pablo Lucas Silva Santos</strong>
                <a href="malito:pablo.santos@alunos.ifsuldeminas.edu.br">pablo.santos@alunos.ifsuldeminas.edu.br</a>
                <span>(35) 9 9734-9768</span>
                <span>IFSULDEMINAS Campus Poços de Caldas</span>
                <strong>8º Período</strong>
                <strong>RA: 201911020012</strong>
            </div>
            <div class="col-md-6 row">
                <div>
                    <img width="200" class="d-inline rounded-circle" src="https://github.com/joaopaulo418.png" alt="">
                </div>
                <strong>João Paulo Santos Silva</strong>
                <a href="malito:joao.silva1@alunos.ifsuldeminas.edu.br">joao.silva1@alunos.ifsuldeminas.edu.br</a>
                <span>(35) 9 9899-8165</span>
                <span>IFSULDEMINAS Campus Poços de Caldas</span>
                <strong>8º Período</strong>
                <strong>RA: 201911020011</strong>
            </div>
        </div>
    </div>
</div>